<a href="https://colab.research.google.com/github/MIKRAMS1984/Data-Science-with-Python/blob/main/M_Ikram_Shahzad_Assignment1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìù Assignment: Python Basics ‚Äì Part 2 Practice

### ‚úÖ Task 1: List Practice
Create a list called `colors` with 3 color names.  
- Print the second item.  
- Add another color to the list.  
- Print the updated list.

In [1]:
colors = ["red", "blue", "green"]
print(colors[1])
colors.append("yellow")
print(colors)

blue
['red', 'blue', 'green', 'yellow']

### ‚úÖ Task 2: Tuple Practice
Create a tuple `dimensions = (100, 50)`  
- Print both values.  
- Try to change one and note what happens.

In [2]:
dimensions = (100, 50)
print(dimensions[0])
print(dimensions[1])
dimensions[0] = 200

100
50

TypeError: 'tuple' object does not support item assignment

### ‚úÖ Task 3: Dictionary Practice
Create a dictionary `book = {"title": "Python 101", "author": "John", "pages": 250}`  
- Print the title.  
- Change the number of pages to 300 and print the updated dictionary.

In [3]:
book = {"title": "Python 101", "author": "John", "pages": 250}
print(book["title"])
book["pages"] = 300
print(book)

Python 101
{'title': 'Python 101', 'author': 'John', 'pages': 300}

### ‚úÖ Task 4: Conditional Statements
Write a script that:  
- Asks the user to input a number.  
- Prints `"Even number"` if it‚Äôs even, otherwise `"Odd number"`.

In [5]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 1
Odd number

### ‚úÖ Task 5: For Loop Practice
Use a for loop to print numbers from 1 to 5.

In [8]:
for i in range(5):
  print(i+1)

1
2
3
4
5

### ‚úÖ Task 6: While Loop Practice
Use a while loop to count from 0 to 3.

In [9]:
  i = 0
  while i < 4:
    print(i)
    i += 1

0
1
2
3

### ‚úÖ Task 7: Function Practice
Write a function `welcome(name)` that prints:  
`"Welcome, [name]!"`  
Call it with your own name.

In [13]:
def welcome(name):
    print(f"Welcome, {name}!")

welcome("[Ikram Shahzad]")

Welcome, [Ikram Shahzad]!

### ‚úÖ Task 8: Module Import Practice
Import the `math` module and:  
- Print the square root of 49.  
- Print the value of `pi`.

In [18]:
import math as m
print('Square Root of 49: ', int(m.sqrt(49)))
print('Pi Value:', m.pi)

Square Root of 49:  7
Pi Value: 3.141592653589793

### ‚úÖ Task 9: Challenge Task
Write a function `area_of_circle(radius)` that returns the area using `math.pi`.  
Call it with radius `5`.

In [20]:
def area_of_circle(radius):
    return m.pi * (radius ** 2)

print('Circle Area:' ,area_of_circle(5))

Circle Area: 78.53981633974483